body{
    background-color:#fff;
}
#input{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 74%;
    padding: 10px;
    float: left;
    font-size: 16px;
    background-color: #eee;
    font-family: 'Quicksand';
}

#btn-add{
    margin-left:10px;
    padding: 10px;
    width: 25%;
    background: #ffe550;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border:0;
    font-family: 'Quicksand';
}

#btn-add:hover{
    background-color: #ffde23;
}

#btn-remove{
    margin-top:10px;
    padding: 10px;
    width: 25%;
    background: #ffe550;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border:0;
    font-family: 'Quicksand';
    float:right;
}

#btn-remove:hover{
    background-color: #ffde23;
}

li{
    list-style-type: none;
    padding: 12px 8px 12px 40px;
    margin: 2.5px 0 2.5px 0;
    background: #eee;
    font-size: 18px;
    font-family: 'Quicksand';
}

@media screen and (max-width: 999px) {
    #input{
        margin: 0;
        border: none;
        border-radius: 0;
        width: 70%;
        height:10%;
        padding: 10px;
        float: left;
        font-size: 50px;
        background-color: #eee;
        font-family: 'Quicksand';
    }
    li{
        list-style-type: none;
        padding: 12px 8px 12px 40px;
        margin: 2% 4% 1% 0;
        background: #eee;
        font-size: 50px;
        width:95%;
        font-family: 'Quicksand';
        
    }
    #btn-add{
        margin-left:10px;
        padding: 10px;
        width: 25%;
        height:10%;
        background: #ffe550;
        color: #555;
        text-align: center;
        font-size: 50px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
        border:0;
        font-family: 'Quicksand';
        
    }
    #btn-remove{
        margin-top:10px;
        padding: 10px;
        width: 25%;
        height:10%;
        background: #ffe550;
        color: #555;
        text-align: center;
        font-size: 50px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
        border:0;
        font-family: 'Quicksand';
        float: right;
        margin-right:4%;
    }
  }

